{{#each items}}
<tr class="acc-item-record" data-id="{{id}}" data-multisplit="{{multisplit}}" data-currency="{{tr_curr}}">
	<td class=" acc-item" data-name="date" data-editable="input" data-edittype="datepicker" data-val="{{date}}" data-origval="{{date}}"><div class="tdContent">{{i18n_date date}}</div><div class="tdContentEditable row-fluid"></div></td>
	<td class=" acc-item" data-name="num" data-editable="input" data-edittype="text" data-val="{{num}}" data-origval="{{num}}"><div class="tdContent pull-right">{{num}}</div><div class="tdContentEditable row-fluid"></div></td>
	<td class=" acc-item" data-name="description" data-editable="input" data-edittype="typeahead" title="{{description}}" data-val="{{description}}" data-origval="{{description}}"><div class="tdContent">{{description}}</div><div class="tdContentEditable row-fluid"></div></td>
	<td class=" acc-item" data-name="path" {{#unless multisplit}}data-editable="input" data-edittype="typeahead" {{/unless}} data-val="{{path}}" title="{{path}}" data-origval="{{path}}" data-splitblock="1" data-relaccid="{{recv_accid}}" data-currency="{{path_curr}}"><div class="tdContent">{{path}}</div><div class="tdContentEditable row-fluid"></div></td>
	<td class=" acc-item" data-name="rstate" data-editable="switch" data-edittype="switch" data-val="{{rstate}}" data-origval="{{rstate}}" data-splitblock="1" data-relaccid="{{send_accid}}"><div class="tdContent">{{rstate}}</div><div class="tdContentEditable row-fluid"></div></td>
	<td class=" acc-item" data-name="deposit" data-editable="input" data-edittype="text" data-value="{{deposit_value}}" data-origvalue="{{deposit_value}}" data-origval="{{deposit}}" data-val="{{deposit}}" data-splitblock="1" data-relaccid="{{send_accid}}"><div class="tdContent pull-right">{{i18n_currency acc_curr deposit}}</div><div class="tdContentEditable row-fluid"></div></td>
	<td class=" acc-item" data-name="withdrawal" data-editable="input" data-edittype="text" data-value="{{withdrawal_value}}" data-origvalue="{{withdrawal_value}}" data-origval="{{withdrawal}}" data-val="{{withdrawal}}" data-splitblock="1" data-relaccid="{{send_accid}}"><div class="tdContent pull-right">{{i18n_currency acc_curr withdrawal}}</div><div class="tdContentEditable row-fluid"></div></td>
	<td class=" acc-item" data-name="total"><div class="tdContent pull-right">{{i18n_currency acc_curr total}}</div></td>
	<td class=" acc-item">
		<div class="tdContent" style="overflow:visible">
			{{#if total}}
		    <div class="btn-group">
				<button class="btn btn-mini">Edit</button>
				<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li><a class="delete-record" href="#">{{#i18n}}Delete{{/i18n}}</a></li>
				</ul>
			</div>
			{{/if}}
		</div>
	</td>
</tr>
{{#each splits}}
	<tr class="acc-item-record-split" data-_id="{{_id}}" data-recordid="{{recordid}}" data-accid="{{accountId}}" data-currency="{{currency}}">
		<td class=" acc-item-split" ><div class="tdContent"></div></td>
		<td class=" acc-item-split" data-name="num" data-editable="input" data-edittype="text" data-val="{{num}}" data-origval="{{num}}"><div class="tdContent pull-right">{{num}}</div><div class="tdContentEditable row-fluid"></div></td>
		<td class=" acc-item-split" data-name="description" data-editable="input" data-edittype="typeahead" data-val="{{description}}" data-origval="{{description}}"><div class="tdContent">{{description}}</div><div class="tdContentEditable row-fluid"></div></td>
		<td class=" acc-item-split" data-name="path" data-editable="input" data-edittype="typeahead" title="{{description}}" data-val="{{path}}" data-origval="{{path}}" data-accid="{{accountId}}" data-currency="{{currency}}"><div class="tdContent">{{path}}</div><div class="tdContentEditable row-fluid"></div></td>
		<td class=" acc-item-split" data-name="rstate" data-editable="switch" data-edittype="switch" title="{{path}}" data-val="{{rstate}}" data-origval="{{rstate}}"><div class="tdContent">{{rstate}}</div><div class="tdContentEditable row-fluid"></div></td>
		<td class=" acc-item-split" data-name="deposit" data-editable="input" data-edittype="text" data-value="{{deposit_value}}" data-origvalue="{{deposit_value}}" data-origval="{{deposit}}" data-val="{{deposit}}"><div class="tdContent pull-right">{{i18n_currency currency deposit}}</div><div class="tdContentEditable row-fluid"></div></td>
		<td class=" acc-item-split" data-name="withdrawal" data-editable="input" data-edittype="text" data-value="{{withdrawal_value}}" data-origvalue="{{withdrawal_value}}" data-origval="{{withdrawal}}" data-val="{{withdrawal}}"><div class="tdContent pull-right">{{i18n_currency currency withdrawal}}</div><div class="tdContentEditable row-fluid"></div></td>
		<td class=" acc-item-split" data-name="total"><div class="tdContent pull-right">{{total}}</div></td>
		<td class=" with-action acc-item-split">
			<a href="#"><i class="icon-trash deleteSplit" data-aid="{{_id}}" title="{{#i18n}}delete{{/i18n}}" ></i></a>
		</td>
	</tr>
{{/each}}
	{{>grid_item_split_blank}}
{{/each}}
