<div id="import">
{{#GnuCash}}
<h2>{{#i18n}}Import Gnu Cash{{/i18n}}</h2>
{{/GnuCash}}
{{#SkilapCash}}
<h2>{{#i18n}}Import Skilap Cash{{/i18n}}</h2>
{{/SkilapCash}}
<div class="alert">{{#i18n}}Attention! Your existing data will be overwritten upon complete.{{/i18n}}</div>
{{#upload}}
<h3>{{#i18n}}Select file for import{{/i18n}}</h3>
<form class="well form-inline" action="?step=1" enctype="multipart/form-data" method="post">
	<input class="fakeUploadInput input-xlarge" >
	<button class="fakeUploadBrowse btn" type="button" >{{#i18n}}Browse{{/i18n}}</button>
	<button class="btn btn-primary" type="submit">{{#i18n}}Next{{/i18n}} »</button>
	<input id="upload-file" type="file" name="upload"  style="visibility:hidden;" />
</form>
{{/upload}}

{{#step1}}
<h3>{{#i18n}}File parsed. It contains{{/i18n}}: {{transactions}} {{#i18n}}transactions{{/i18n}}, {{accounts}} {{#i18n}}accounts{{/i18n}}</h3>
<form action="?step=2" enctype="multipart/form-data" method="post">
	<input type="hidden" name="fileName" value="{{path}}">
	<button type="submit" class="btn btn-primary" >{{#i18n}}Next{{/i18n}}  »</button>
</form>
{{/step1}}

{{#step2}}
<form action="{{prefix}}" enctype="multipart/form-data" method="get">
	<h3>{{#i18n}}Data saved{{/i18n}}, {{transactions}} {{#i18n}}transactions{{/i18n}} {{#i18n}}and{{/i18n}} {{accounts}} {{#i18n}}accounts{{/i18n}} {{#i18n}}were imported{{/i18n}}!</h3>
	<button type="submit"  class="btn btn-primary" >{{#i18n}}Finish{{/i18n}}</button>
</form>
{{/step2}}

{{#error}}
<div class="alert alert-error">
{{#i18n}}Wrong data. Please try again.{{/i18n}}
</div>
{{/error}}
</div>

<script>
require(["jquery"],function ($) {
	$(function() {
		var $page = $("#import");
		$page.addClass("ready");
		$(".fakeUploadBrowse").click(function(){
			$("#upload-file").click();
		});
		$("#upload-file").change(function(){
			var filename = $(this).val().split('\\').pop();
			$(".fakeUploadInput").val(filename);
		});
	});
}, appError)
</script>
