{{#if value}}
<li><a href='{{prefix}}/account?id={{_id}}'>{{name}} <span class="nav-item-hint" >{{#fquantity}}( {{fquantity}} ) {{/fquantity}}{{fvalue}}</span></a></li>
<ul class="nav nav-list">
{{#each childs}}
{{>index_account}}
{{/each}}
</ul>
{{/if}}
