<span class="pull-right" >{{i18n_cost repCmdty acc.cmdty value}}</span>
<li><a href='{{prefix}}/account?id={{acc._id}}'>{{acc.name}}</a>
<ul class="nav nav-list">
{{#each childs}}
{{> index_account}}
{{/each}}
</ul>
</li>
