{{#if value}}
<span class="pull-right" >{{#if fquantity}}( {{fquantity}} ) {{/if}}{{fvalue}}</span>
<li><a href='{{prefix}}/account?id={{_id}}'>{{name}}</a>
<ul class="nav nav-list">
{{#each childs}}
{{>index_account}}
{{/each}}
</ul>
</li>
{{/if}}
