  <li class="dropdown">
	<a href="#" data-toggle="dropdown" class="dropdown-toggle">{{#i18n}}Data{{/i18n}} <b class="caret"></b></a>
	<ul class="dropdown-menu">
	  <li><a href="/cash/new/register">{{#i18n}}New register{{/i18n}}</a></li>
	  <li><a href="/cash/import/gnucash">{{#i18n}}Import Gnu Cash{{/i18n}}</a></li>
	  <li><a href="/cash/import/raw">{{#i18n}}Import Skilap Cash{{/i18n}}</a></li>
	  <li><a href="/cash/export/raw">{{#i18n}}Export Skilap Cash{{/i18n}}</a></li>
	</ul>
  </li>
  <li class="dropdown">
	<a href="#" data-toggle="dropdown" class="dropdown-toggle">{{#i18n}}View{{/i18n}} <b class="caret"></b></a>
	<ul class="dropdown-menu">
	  <li><a href="/cash/">{{#i18n}}Home{{/i18n}}</a></li>
	  <li><a href="/cash/accounts/tree">{{#i18n}}Accounts{{/i18n}}</a></li>
	  <li><a href="/cash/priceeditor">{{#i18n}}Rate Currency Editor{{/i18n}}</a></li>
	  <li><a id="editSettings" href="return false">{{#i18n}}Settings{{/i18n}}</a></li>
	</ul>
  </li>
  <li class="dropdown">
	<a href="#" data-toggle="dropdown" class="dropdown-toggle">{{#i18n}}Report{{/i18n}} <b class="caret"></b></a>
	<ul class="dropdown-menu">
	  <li><a href="/cash/reports/barflow">{{#i18n}}Spend/receive bar chart{{/i18n}}</a></li>
	  <li><a href="/cash/reports/pieflow">{{#i18n}}Spend/receive pie chart{{/i18n}}</a></li>
	</ul>
  </li>

<script>
require(["jquery","jquery-block","bootstrap"], function ($) {
	$(function() {
		var $page = $("body");
		$(document).on("click", "#editSettings",function(evt){
			evt.preventDefault();
			$this = $(this);
			var $me = $page;
			$me.block();
			(function (cb) {
				require(['cash/settings-modal'], function (Modal) {
					var modal = new Modal();
					modal.show();
					modal.once('shown', function () { $me.unblock(); })
					modal.once('result', function (type, acc) {
						if (type=='saved')
							location.reload();
						modal.hide()
						cb();
					})
				},cb)
			})(function (err) {
				if (err) appError(err);
				$me.unblock();
			})
			return false;
		});
	});
},appError)
</script>
