<div id="{{uniq}}" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 id="myModalLabel">{{#i18n}}Delete confirmation{{/i18n}}</h3>
	</div>
	<div class="modal-body">
		<div class='localctx'>
			{{#i18n}}Delete selected rate currency?{{/i18n}}
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		<button class="btn btn-primary" id="save">Delete</button>
	</div>
</div>
<script>
require(["jquery","jquery-block"],function($){
	$(function(e) {
		var $form = $("#{{uniq}}");
		$form.on('hidden',function () {
			$form.remove();
		});
		$form.find("#save").on("click", function (event) {
			event.preventDefault();
			$form.block();
			(function(cb) {
				require(["api","safe"], function (api,safe) {
					var id = "{{id}}";
					api.call('cash.clearPrices', [id], safe.sure(cb, function () {
						$form.trigger("frm-saved");
					}))
				},cb)
			})(function (err) {
				if (err) appError(err);
				$form.unblock();
			})
		})
	})
}, appError);
</script>
