<div id="{{uniq}}" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 id="myModalLabel">{{title}}</h3>
	</div>
	<div class="modal-body">
		<div class='localctx'></div>
		<form class="form-horizontal" method="POST">
			<fieldset>
				<input type="hidden" id="from" name="from" value="{{firstCurr}}" />
				<input type="hidden" id="to" name="to" value="{{secondCurr}}" />
				<div class="control-group">
					<label class="control-label" for="date">Date</label>
					<div class="controls">
						<input type="text" name="date" id="datepicker" data-date-format="{{i18n_date 'format'}}" data-value="{{currentDate}}" value="{{currentDate}}" class="text ui-widget-content ui-corner-all" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="rate">Rate currency</label>
					<div class="controls">
						<input type="text" name="rate" id="newrate" data-value="{{lastRate}}" value="{{lastRate}}" class="text ui-widget-content ui-corner-all" />
						<span>1 {{firstCurr}} = x {{secondCurr}}</span>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		<button class="btn btn-primary" id="save">Save</button>
	</div>
</div>
<script>
require(["jquery","bootstrap-datepicker","jquery-block"],function($){
	$(function(e) {
		$form = $("#{{uniq}}");
		$form.find("#datepicker").datepicker({language: _user.language.charAt(0)+_user.language.charAt(1)});
		$form.on('hidden',function () {
			$form.remove();
		});
		$form.find("#save").on("click", function (event) {
			event.preventDefault();
			$form.block();
			(function(cb) {
				require(["api","safe"], function (api,safe) {
					var date = $("#datepicker").data("datepicker").getDate();
					var cmdty = {space:"ISO4217",id:"{{firstCurr}}"};
					var currency = {space:"ISO4217",id:"{{secondCurr}}"};
					var rate = $("#newrate").val();
					price = {cmdty:cmdty,
						currency:currency,
						date:date,
						value:rate,
						source:"edit"};
					if("{{id}}")
						price._id = "{{id}}";
					api.call('cash.savePrice', price, safe.sure(cb, function (pricen) {
						$form.trigger("frm-saved",[pricen]);
					}))
				},cb)
			})(function (err) {
				if (err) appError(err);
				$form.unblock();
			})
		})
	})
}, appError)
</script>
