function createChart() {
{{#if barflow}}
	chart = new Highcharts.Chart({
		chart: {
			renderTo: 'report',
			defaultSeriesType: 'column'
		},
		title: {
			text: '{{reportSettings.reportName}}'
		},
		xAxis: {
			categories: {{{categories}}}
		},
		yAxis: {
			title: {
				text: '{{reportSettings.accTypeName}}'
			},
			stackLabels: {
				enabled: true,
				style: {
					fontWeight: 'bold',
					color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
				},
				formatter : function () {
					return this.total.toFixed(2);
				}
			}
		},
		credits: {
			enabled: true
		},
		tooltip: {
			formatter: function() {
				return '<b>'+this.series.name +'</b>: '+ this.y +'<br/>'+
					 'Total: '+ this.point.stackTotal.toFixed(2);
			}
		},
		plotOptions: {
			column: {
				stacking: 'normal',
				dataLabels: {
					enabled: false,
					color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
				}
			}
		},
		series: {{{series}}}
	});
{{/if}}

{{#if pieflow}}
chart = new Highcharts.Chart({
	chart: {
		renderTo: 'report',
		plotBackgroundColor: null,
		plotBorderWidth: null,
		plotShadow: false
	},
	title: {
		text: '{{reportSettings.reportName}}'
	},
	tooltip: {
		formatter: function() {
			return '<b>'+this.point.name +'</b>: '+ this.percentage.toFixed(2) +' % ('+ this.y.toFixed(2)+')';

		}
	},
	plotOptions: {
		pie: {
			allowPointSelect: true,
			cursor: 'pointer',
			showInLegend: true,
			dataLabels: {
				enabled: true,
				color: '#000000',
				connectorColor: '#000000',
				formatter: function() {
					return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(2) +' % ('+ this.y.toFixed(2)+')';
				}
			}
		}
	},
	series: [{{{series}}}]
});
{{/if}}
}
