<script>
require(["jquery"], function ($) {
	$(function() {
		$(".confirm").click(function () {
			$("#props").submit();
			return false;
		})
		$('#acc_curency option[value="{{#i18n}}USD{{/i18n}}"]').attr('selected', 'selected');
	})
}, appError);
</script>
<h2>{{#i18n}}Create new cash register{{/i18n}}</h2>
<div class="alert">{{#i18n}}Attention! Your existing data will be overwritten upon complete.{{/i18n}}</div>
<form id="props" class="well form-inline" method="get" action="#">
	<input type="hidden" name="confirm" value="true">
	<table>
		<tr>
			<td>{{#i18n}}Default currency{{/i18n}}:</td>
			<td>
				<select name="currency" id="acc_curency">
					{{#curencies}}
						<option value="{{iso}}">{{iso}} - {{country}}</option>
					{{/curencies}}
				</select>
			</td>
		</tr>
		<tr>
		<td>{{#i18n}}Template{{/i18n}}:</td>
			<td>
				<select name="type" id="acc_curency">
					<option value="default" selected>{{#i18n}}Default accounts{{/i18n}}</option>
					<option value="empty">{{#i18n}}Empty{{/i18n}}</option>
				</select>
			</td>
		</tr>
	</table>
	<div class="form-actions">
		<input type="submit" class="btn btn-primary" value="{{#i18n}}Confirm{{/i18n}}"></input>
		<a class="btn" href="{{prefix}}/new/register?confirm=false">{{#i18n}}Cancel{{/i18n}}</a>
	</div>
</form>

