<table id="acc">
<thead><th/><th>#</th><th>Date</th><th>Description</th><th>Path</th><th>Recieved</th><th>Spend</th><th>Ballance</th><thead>
<tbody>
{{#transactions}}
	<TR><TD>{{num}}</TD><TD>{{date}}</TD><TD>{{description}}</TD><TD>{{accpath}}</TD><TD>{{value}}</TD><TD/><TD/></TR>
{{/transactions}}
<tbody>
</table>
<br>
<table id="accNew">
	<TR><TD class="number"/><TD class="value"/><TD class="description"/><TD class="account"/><TD class="value"/><TD class="value"/><TD class="value"/></TR>
</table>

<script>
$(document).ready(function(){
	// autocomplet input type
	$.editable.addInputType('autocomplete', {
		element : $.editable.types.text.element,
		plugin : function(settings, original) {
			console.log("bullshit");
			$('input', this).autocomplete(settings.autocomplete);
		}
	});
	var hasEdited = false;
	$('#acc').dataTable({
			"aoColumns": [
				{ "bVisible":false, "bSortable": false, "bSearchable":false },
				{ "sClass": "number", "bSortable": false, "bSearchable":false },
				{ "sClass": "value", "bSortable": false, "bSearchable":false },
				{ "sClass": "description", "bSortable": false, "bSearchable":false },
				{ "sClass": "account", "bSortable": false, "bSearchable":false },
				{ "sClass": "value","bSortable": false, "bSearchable":false },
				{ "sClass": "value","bSortable": false, "bSearchable":false },
				{ "sClass": "value","bSortable": false, "bSearchable":false }
				],
			"iDisplayStart":{{firstVisible}},
//			"iDisplayLength":{{pageSize}},
			"iScrollGap":0,
			"iDeferLoading":{{accountSize}},
			"bProcessing": true,
			"bSort":false,
			"bFilter":false,
			"bServerSide": true,
			"sScrollY": "480px",
			"sAjaxSource": "/account/table/{{accountId}}",
			"sDom": "frtiS",
//			"oScroller": {
//				"rowHeight": 24
//			},
			"fnInitComplete": function () {
				this.oScroller.fnScrollToRow( {{firstVisible}},false );
				}
			}).makeEditable({
				"sUpdateURL":"/account/{{accountId}}/updatecell",
				"sHttpMethod":"GET",
				"aoColumns": [
				null,
				{ "type":"datepicker" },
				{ "placeholder":"","type":"autocomplete","autocomplete":{"source":"/account/{{accountId}}/getdesc"}},
				{ "type":"autocomplete","autocomplete":{"source":"/account/{{accountId}}/getaccounts"}},
				{ "sClass": "value","placeholder":"" },
				{ "sClass": "value","placeholder":"" },
				null
				]
				});
});
</script>
