<script type="text/javascript" src="/javascripts/date.js"></script>
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/jquery.dataTables.js"></script>
<script type="text/javascript" src="/javascripts/Scroller.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.jeditable.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.dataTables.editable.js"></script>
<script type="text/javascript" src="/javascripts/jquery.jeditable.ui-datepicker.js"></script>

