{{#usedCurrencies}}
	<option value="{{iso}}">{{iso}} - {{country}}</option>
{{/usedCurrencies}}
<option class="separator" disabled="disabled"></option>
{{#notUsedCurrencies}}
	<option value="{{iso}}">{{iso}} - {{country}}</option>
{{/notUsedCurrencies}}
