<div class="row">
	<div class="span6 offset3">
		<form id='login' class="form-horizontal" method='post' action='/login'>
			<legend>{{#i18n}}Please login{{/i18n}}</legend>
		
			<input type='hidden' name='success' value='{{success}}'/>
			<input type='hidden' name='failure' value='{{failure}}'/>			
			<div class="control-group">
				<label class="control-label">{{#i18n}}Login{{/i18n}}:</label>
				<div class="controls">
					<input type='text' name='name' >		
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">{{#i18n}}Password{{/i18n}}:</label>
				<div class="controls">
					<input type='password' name='password'>
				</div>
			</div>
			<div class="controls">			
				<div class="btn-group">
					<button name='dologin' type='submit' class="btn clear" >{{#i18n}}Login{{/i18n}}</button>
				</div>
			</div>			
		</form>
		{{#if error}}
			<div class="alert">
				<strong>{{#i18n}}Error{{/i18n}}!</strong> {{error}}
			</div>
		{{/if}}				
	</div>
</div>
