<script type="text/javascript">
$(document).ready(function() {
	$("#editPermDialog").dialog({
		position: ["center","center"],
		buttons: {
			"{{#i18n}}Apply{{/i18n}}": function() {
				var _id = $("#userid").attr("value");
				var newUser = { _id: _id };
				var perms = [];
				$('.perm').filter(":checkbox:checked").each(function(index, checkbox) {
					perms.push($(checkbox).attr("value"));
				});
				newUser.permissions = perms;
				var rpc = new jsonrpc.JsonRpc('/jsonrpc');
				rpc.call('core.saveUser', $("#token").val(), newUser, {
					success: function (data) {
						window.parent.$("body").trigger('permisionsEditSuccess');
					},
					failure: function (reason) {
						$("#caption").text(reason);
					}
				});
			},
			"{{#i18n}}Close{{/i18n}}": function() {
				window.parent.$("body .iframeContainer").trigger('closeDialog');
			}
		},
		open:function(e,ui){			
			var w = $(this).parent().width();
			var h = $(this).parent().height();
			var p = $(this).parent().position();
			$(this).parent().css({"top":0,"left":0,"padding":0,"border":0});
			window.parent.$("body .iframeContainer-ski_editPermissions").trigger('openDialog',[w,h,p]);						
		},
		close:function(e,ui){
			window.parent.$("body .iframeContainer").trigger('closeDialog');
		},
		autoOpen: true,
		resizable: false,
		height: 400,
		width: 400,
		modal: true,
		draggable: false
	});
	function displayMessage(event){			
		if(event.data.name == 'setEditPermDialogData') {
			var permissions = event.data.data.permissions;
			if (permissions) {
				permissions.forEach(function(perm) {
					$(".perm[value='"+perm+"']").attr("checked", "checked");
				});
			}
			$("#userid").attr("value", event.data.data.uid);
		}
		else if(event.data.name == 'showDialog') {		
			$("#editPermDialog").dialog('open');
		}
	}
	if (window.addEventListener) {	
		window.addEventListener("message", displayMessage, false);
	}
	else {
		window.attachEvent("onmessage", displayMessage);
	}
});
</script>
<div id="editPermDialog" title="{{#i18n}}Edit permissions{{/i18n}}" class="editPermDialog" style="width: 600; height: 200px;">
	<form>
	<input id="token" type="hidden" value="{{apiToken}}">
	<input id="userid" type="hidden" value="">
	<table>
	{{#mInfo}}
		<tr><td><b>{{name}}</b></td><td></td></tr>
		{{#permissions}}
			<tr><td>&nbsp;&nbsp;&nbsp;{{desc}}</td><td><input type="checkbox" class="perm" value="{{id}}"/></td></tr>
		{{/permissions}}
	{{/mInfo}}
	</table>
	</form>
</div>
