<div id="{{uniq}}" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 id="myModalLabel">{{#i18n}}Edit permissions{{/i18n}}</h3>
	</div>
	<div class="modal-body">
		<div class='localctx'></div>
		<form class="form-horizontal" id="{{_id}}" method="POST">
			<table>
			{{#permissions}}
				<tr><td><b>{{module}}</b></td><td></td></tr>
				{{#perm}}
					<tr><td>&nbsp;&nbsp;&nbsp;{{desc}}</td><td><input type="checkbox" class="perm" value="{{id}}" {{#val}}checked="checked"{{/val}} /></td></tr>
				{{/perm}}
			{{/permissions}}
			</table>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		<button class="btn btn-primary" id="save">Save</button>
	</div>
</div>
<script>
require(["jquery","jquery-block"],function($){
	$(function(e) {
		$form = $("#{{uniq}}");
		$form.on('hidden',function () {
			$form.remove();
		});
		$form.find("#save").on("click", function (event) {
			event.preventDefault();
			$form.block();
			(function(cb) {
				require(["api","safe"], function (api,safe) {
					var user = {
						_id: "{{luser._id}}",
						permissions: []
					};
					$('.perm').filter(":checkbox:checked").each(function(index, checkbox) {
						user.permissions.push($(checkbox).attr("value"));
					});

					if ('{{type}}' == 'guest') {
						api.call('core.saveSystemSettings', 'guest', user, safe.sure(cb, function (user) {
							$form.trigger("frm-saved",user);
						}))
					} else {
						api.call('core.saveUser', user, safe.sure(cb, function (user) {
							$form.trigger("frm-saved",user);
						}))
					}
				},cb)
			})(function (err) {
				if (err) appError(err);
				$form.unblock();
			})
		})
	})
}, appError)
</script>
