<div id="users">
<div class="row">
	<div class="span4">
		<button class="btn" name="addNewUser" >{{#i18n}}Add new user{{/i18n}}</button>
	</div>
	<br><br><br>
</div>
<div class="row">
	<div class="span12">
		<table class="table table-condensed">
			<thead>
			<tr>
				<th >#</th>
				<th>{{#i18n}}First name{{/i18n}}</th>
				<th>{{#i18n}}Last name{{/i18n}}</th>
				<th>{{#i18n}}Login{{/i18n}}</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			{{#users}}
				{{>users_row}}
			{{/users}}
			</tbody>
		</table>
	</div>
</div>
</div>
<script>
require(["jquery","jquery-block","bootstrap"], function ($) {
	$(function() {
		$page = $("#users");
		$page.addClass("ready");
		$page.on('click', "a[name=\"editUser\"]", function(evt){
			evt.preventDefault();
			$this = $(this);
			var uid = $this.attr('uid');
			var $me = $(this).closest(".users_row");
			$me.block();
			(function (cb) {
				require(['api','clitpl','safe'], function (api,tf,safe) {
					api.call('core.getUserById', uid, safe.sure(cb, function (user) {
						tf.render('user_prefs_edit', {luser:user}, safe.sure(cb,function(text, ctx) {
							$me.unblock();
							$("body").append(text);
							var $modal = $("#"+ctx.uniq).modal();
							$modal.on("frm-saved", function (evt, user) {
								api.call('core.getUserById', uid, safe.sure(cb, function (user) {
									tf.render('users_row',user, safe.sure(cb, function(text) {
										$me.before(text)
										$me.remove()
										$modal.modal('hide')
										cb();
									}))
								}))
							})
						}))
					}))
				},cb)
			})(function (err) {
				if (err) appError(err);
				$me.unblock();
			})
			return false;
		});
		$page.on("click", "a[name=\"editPerm\"]",function(evt){
			evt.preventDefault();
			$this = $(this);
			var uid = $this.attr('uid');
			var $me = $(this).closest(".users_row");
			$me.block();
			(function (cb) {
				require(['api','clitpl','safe'], function (api,tf,safe) {
					api.call('core.getUserById', uid, safe.sure(cb, function (user) {
						api.call('core.getUserPermissions', user, safe.sure(cb, function (permissions) {
							tf.render('user_perm_edit', {permissions: permissions, luser: user}, safe.sure(cb,function(text, ctx) {
								$me.unblock();
								$("body").append(text);
								var $modal = $("#"+ctx.uniq).modal();
								$modal.on("frm-saved", function (evt, user) {
									api.call('core.getUserById', uid, safe.sure(cb, function (user) {
										tf.render('users_row',user, safe.sure(cb, function(text) {
											$me.before(text)
											$me.remove()
											$modal.modal('hide')
											cb();
										}))
									}))
								})
							}))
						}))
					}))
				},cb)
			})(function (err) {
				if (err) appError(err);
				$me.unblock();
			})
			return false;
		})
		$page.on("click", "a[name=\"deleteUser\"]",function(evt) {
			evt.preventDefault();
			if (!confirm("{{#i18n}}Are you sure?{{/i18n}}"))
				return false;
			var uid = $(this).attr('uid');
			var $me = $(this).closest(".users_row");
			$me.block();
			(function (cb) {
				require(['api','safe'], function (api,safe) {
					api.call('core.deleteUser', uid, safe.sure(cb, function () {
						$me.remove();
					}))
				},cb)
			})(function (err) {
				if (err) appError(err);
				$me.unblock();
			})
		});
		$page.on("click", "button[name=\"addNewUser\"]",function(evt){
			evt.preventDefault();
			$this = $(this);
			var $me = $page;
			$me.block();
			(function (cb) {
				require(['api','clitpl','safe'], function (api,tf,safe) {
					tf.render('user_prefs_edit', {luser:{}}, safe.sure(cb,function(text, ctx) {
						$me.unblock();
						$("body").append(text);
						var $modal = $("#"+ctx.uniq).modal();
						$modal.on("frm-saved", function (evt, user) {
							tf.render('users_row',user, safe.sure(cb, function(text) {
								$page.find("tbody").prepend(text)
								$modal.modal('hide')
								cb();
							}))
						})
					}))
				},cb)
			})(function (err) {
				if (err) appError(err);
				$me.unblock();
			})
			return false;
		});
	});
}, appError)
</script>
