<li class="accountTreeItem {{^childs}}hide-tree{{/childs}}" data-accountid="{{_id}}">
	<span class="tree-ico"></span><span class="name {{#isSelected}}selected{{/isSelected}}">{{name}}</span>
	<ul class="accountsTree">
		{{#childs}}	
			{{>accountTreeItem}}		
		{{/childs}}
	</ul>
</li>

