<script>
$(function() {
	$('#acc_parent option').filter('[pid="0"]').each(function(e) {
		$(this).text($.trim($(this).text()));
	});
	$('.new_parent option').filter('[pid="0"]').each(function(e) {
		$(this).text($.trim($(this).text()));
	});
	$('div.tree div:has(div)').addClass('parent');
	$(document).on("click", 'div.tree div', function(e) {
		var obj = $(this);
		obj.children('div').toggle();
		obj.filter('.parent').toggleClass('expanded');
		return false;
	});
	$(document).on("click", 'div.tree div a', function(e) {
		location.href=this.href;
		return false;
	});	
	
	$(document).on('click', '#add_new', function(e){		
		$("#ski_createAccount").iframeContainer("open");	
		$("#ski_createAccount").iframeContainer("triggerEvent",{name:'resetAccountDialogData'});		
		return false;
	});
	$("body").on('accountUpdatedSuccess',function(e,data){
		location.reload(true);
		return false;
	});
	$(document).on("click", ".editAcc", function(e){
		var aid = $(this).attr('aid');
		$('#acc_id').val(aid);
		var secret = $('#token').val();
		var rpc = new jsonrpc.JsonRpc('/jsonrpc');
		rpc.call('cash.getAccount', secret, aid, {
			success: function (data) {
				var acc = data[0];								
				$("#ski_createAccount").iframeContainer("triggerEvent",{name:'setAccountDialogData',data:acc});				
			},
			failure: function (reason) {
			},
		});		
		$("#ski_createAccount").iframeContainer("open");
		return false;
	});	
	$("#ski_createAccount").iframeContainer({src:"{{prefix}}/accounts/create",host:"{{host}}"});	
	$("#ski_deleteAccount").iframeContainer({src:"{{prefix}}/accounts/delete",host:"{{host}}"});	
	
	$(document).on("click", ".deleteAcc", function(e){
		var accountId = $(this).attr('aid');
		var accName = $('#open'+$(this).attr('aid')).html();
		$("#ski_deleteAccount").iframeContainer("triggerEvent",{name:'setAccountDeleteDialogData',data:{id:accountId,name:accName}});	
		$("#ski_deleteAccount").iframeContainer("open");		
		return false;
	});
	
	$("body").on('accountDeletedSuccess',function(e,id){
		location.reload(true);
	});	
});
</script>
<div id="ski_createAccount"></div>
<div id="ski_deleteAccount"></div>
<div id="home">
	<input type="hidden" id="token" value="{{token}}">
	<a id="add_new" href="javascript:void(0);" class="action-button">{{#i18n}}Add new account{{/i18n}}</a>
	<br><br>
	<div id="tree_root" class="main tree">
	{{#assets}}
		{{>accounts-tree_item}}
	{{/assets}}
	</div>
	<br><p> * - {{#i18n}}denotes hidden accounts{{/i18n}}</p>
</div>
