<div id="ski_createAccount"></div>
<table id="acc" cellspacing="0" cellpadding="5" width="100%">	
<thead>
		<th class="value">Date</th>
		<th class="number">Num</th>
		<th class="description">Description</th>
		<th class="account">Path</th>
		<th class="transfer">R</th>
		<th class="value">Recieved</th>
		<th class="value">Spend</th>
		<th class="value">Ballance</th>
	</thead>
	<tbody>
		
		<tr>
			<td class="value" name="date" ></td>
			<td class="number" name="num" ></td>
			<td class="description" name="description" ></td>
			<td class="account" name="path" ></td>
			<td class="transfer" name="transfer" ></td>
			<td class="value" name="deposit" ></td>
			<td class="value" name="withdrawal" ></td>
			<td class="value" name="total" ></td>
		</tr>
		
	</tbody>
</table>
<div id="ski_dialog-confirm" title="Invalid fields data">
	<p>
		<span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
		Please correct field data or discard all changes
	</p>
</div>
<div id="ski_dialog-confirm-create-account" title="Create account">
	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span></p>
	<p class="text"></p>
</div>
<br/>
<script type="text/javascript">
$(document).ready(function(){	
	$('#acc').skiGrid({
		"sAjaxSource": "{{prefix}}/account/{{accountId}}/getgrid",		
		"editable":{
			"sUpdateURL":"{{prefix}}/account/{{accountId}}/updaterow",	
			"sAddURL":"{{prefix}}/account/{{accountId}}/addrow",		
			"columns": [
				{"type":"datepicker","icon":"{{prefix}}/images/calendar.gif"},
				{"type":"input","format":"number"},			
				{"type":"autocomplete","source":"{{prefix}}/account/{{accountId}}/getdesc","placeholder":""},
				{"type":"select","source":"{{prefix}}/account/{{accountId}}/getaccounts"},
				{"type":"span"},
				{"type":"input","format":"number"},
				{"type":"input","format":"number"},
				null
			]
		}		
	});
	
	$("#ski_createAccount").iframeContainer({src:"{{prefix}}/acccreate",host:"{{host}}"});	
	
});
</script>
