<table id="acc">
	<thead>
		<th>#</th>
		<th>Date</th>
		<th>Description</th>
		<th>Path</th>
		<th>Recieved</th>
		<th>Spend</th>
		<th>Ballance</th>
	<thead>
	<tbody>
		{{#transactions}}
		<tr>
			<td>{{num}}</td>
			<td>{{date}}</td>
			<td>{{description}}</td>
			<td>{{accpath}}</td>
			<td>{{value}}</td>
			<td></td>
			<td></td>
		</tr>
		{{/transactions}}
	<tbody>
</table>
<br/>
<script>
$(document).ready(function(){
	// autocomplete input type
	$.editable.addInputType('autocomplete', {
		element : $.editable.types.text.element,
		plugin : function(settings, original) {
			console.log("bullshit");
			$('input', this).autocomplete(settings.autocomplete);
		}
	});
	var hasEdited = false;
	$('#acc').dataTable({
			"aoColumns": [
				{ "sClass": "number", "bSortable": false, "bSearchable":false },
				{ "sClass": "value", "bSortable": false, "bSearchable":false },
				{ "sClass": "description", "bSortable": false, "bSearchable":false },
				{ "sClass": "account", "bSortable": false, "bSearchable":false },
				{ "sClass": "value","bSortable": false, "bSearchable":false },
				{ "sClass": "value","bSortable": false, "bSearchable":false },
				{ "sClass": "value","bSortable": false, "bSearchable":false }
				],
			"iDisplayStart":{{firstVisible}},
//			"iDisplayLength":{{pageSize}},
			"iScrollGap":0,
			"iDeferLoading":{{accountSize}},
			"bProcessing": true,
			"bSort":false,
			"bFilter":false,
			"bServerSide": true,
			"sScrollY": "480px",
			"sAjaxSource": "{{prefix}}/account/{{accountId}}/getgrid",
			"sDom": "frtiS",
//			"oScroller": {
//				"rowHeight": 24
//			},
			"fnInitComplete": function () {
				this.oScroller.fnScrollToRow( {{firstVisible}},false );
				}			
			}).makeEditable({
				"sUpdateURL":"{{prefix}}/account/{{accountId}}/updatecell",
				"sHttpMethod":"GET",
				"aoColumns": [
				null,
				{ "type":"datepicker","onblur":"submit" },
				{ "placeholder":"","type":"autocomplete","autocomplete":{"source":"{{prefix}}/account/{{accountId}}/getdesc"},"onblur":"submit"},
				{ "type":"select","loadurl":"{{prefix}}/account/{{accountId}}/getaccounts","onblur":"submit"},
				{ "sClass": "value","placeholder":"","onblur":"submit" },
				{ "sClass": "value","placeholder":"","onblur":"submit" },
				null
				]
				});
});
</script>
