
<table id="acc" cellspacing="0" cellpadding="5" width="100%">	
<thead>
		<th class="number">#</th>
		<th class="value">Date</th>
		<th class="description">Description</th>
		<th class="account">Path</th>
		<th class="value">Recieved</th>
		<th class="value">Spend</th>
		<th class="value">Ballance</th>
	</thead>
	<tbody>
		
		<tr>
			<td class="number">{{num}}</td>
			<td class="value">{{date}}</td>
			<td class="description">{{description}}</td>
			<td class="account">{{accpath}}</td>
			<td class="value">{{value}}</td>
			<td class="value"></td>
			<td class="value"></td>
		</tr>
		
	</tbody>
</table>
<div id="ski_dialog-confirm" title="Invalid fields data">
	<p>
		<span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
		Please correct field data or discard all changes
	</p>
</div>
<div id="ski_dialog-confirm-create-account" title="Create account">
	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span></p>
	<p class="text"></p>
</div>
<br/>
<script>
$(document).ready(function(){	
	$('#acc').skiGrid({
		"sAjaxSource": "{{prefix}}/account/{{accountId}}/getgrid",
		"sUpdAccount":"{{prefix}}/accupd",
		"columns":[
			{"attr":{"name":"id"}},
			{"attr":{"name":"date"}},
			{"attr":{"name":"description"}},
			{"attr":{"name":"path"}},
			{"attr":{"name":"deposit"}},
			{"attr":{"name":"withdrawal"}},
			{"attr":{"name":"total"}}
		],
		"editable":{
			"sUpdateURL":"{{prefix}}/account/{{accountId}}/updaterow",	
			"sAddURL":"{{prefix}}/account/{{accountId}}/addrow",		
			"columns": [
				null,
				{"type":"datepicker","icon":"{{prefix}}/images/calendar.gif"},
				{"type":"autocomplete","source":"{{prefix}}/account/{{accountId}}/getdesc","placeholder":""},
				{"type":"select","source":"{{prefix}}/account/{{accountId}}/getaccounts"},
				{"type":"input","format":"number"},
				{"type":"input","format":"number"},
				null
			]
		}		
	});	
	
});
</script>
