<div id="{{id}}"><a id="open{{id}}" href='{{prefix}}/account?id={{id}}'>{{name}}</a> (<a href="#" class="editAcc" aid="{{id}}">edit</a>)<span>{{#fquantity}}( {{fquantity}} ) {{/fquantity}}{{fvalue}}</span>
{{#childs}}
{{>acctree_item}}
{{/childs}}
</div>
