<div id="{{id}}">{{#placeholder}}<font id="open{{id}}">{{/placeholder}}{{^placeholder}}<a id="open{{id}}" href='{{prefix}}/account?id={{id}}'>{{/placeholder}}{{name}}{{^placeholder}}</a>{{/placeholder}}{{#placeholder}}</font>{{/placeholder}} (<a href="javascript:void(0);" class="editAcc" aid="{{id}}">edit</a> <a href="javascript:void(0);" class="deleteAcc" aid="{{id}}">delete</a>)<span>{{#fquantity}}( {{fquantity}} ) {{/fquantity}}{{fvalue}}</span>
{{#childs}}
{{>acctree_item}}
{{/childs}}
</div>
