<div id="{{id}}">
{{#placeholder}}<font id="open{{id}}">{{name}}</font>{{/placeholder}}
{{^placeholder}}<a id="open{{id}}" href='{{prefix}}/account?id={{id}}'>{{name}}</a>{{/placeholder}}
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="javascript:void(0);" class="editAcc" aid="{{id}}">&nbsp;&nbsp;&nbsp;&nbsp;</a> 
<a href="javascript:void(0);" class="deleteAcc" aid="{{id}}">&nbsp;&nbsp;&nbsp;&nbsp;</a>
<span>{{#fquantity}}( {{fquantity}} ) {{/fquantity}}{{fvalue}}</span>
{{#childs}}
{{>acctree_item}}
{{/childs}}
</div>
