<div id="import">

<h2> {{caption}} </h2>
<hr size="2" noshade />

{{#upload}}
<form action="{{prefix}}/import?step=1" enctype="multipart/form-data" method="post">
	<input type="file" name="upload">
	<hr size="2" noshade />
	<input type="submit" value="Next" style="width: 87px; height: 20px"/>
</form>
{{/upload}}

{{#step1}}
transactions = {{transactions}}
accounts = {{accounts}}
<hr size="2" noshade />
<form action="{{prefix}}/import?step=2" enctype="multipart/form-data" method="post">
	<input type="hidden" name="fileName" value="{{path}}">
	<input type="submit" value="Next" style="width: 87px; height: 20px">
</form>
{{/step1}}

{{#step2}}
<form action="{{prefix}}" enctype="multipart/form-data" method="get">
	{{transactions}} transactions and {{accounts}} accounts were imported
	<hr size="2" noshade />
	<input type="submit" value="Finish" style="width: 87px; height: 20px">
</form>
{{/step2}}

{{#error}}
Wrong data. Please try again.
{{/error}}
</div>
