{{>pagesettings}}
<a class="report-settings" href="javascript:void(0);" title="{{#i18n}}Settings{{/i18n}}"></a>
<div class="span6">
<h2>{{#i18n}}Assets{{/i18n}}: <span>{{assetsSum}}</span></h2>
<hr size="2" noshade />
<div class="well">
<ul class="nav nav-list">
	{{#assets}}
		{{>index_account}}
	{{/assets}}
</ul>
</div>
</div>
<div class="span6 offset6">
<h2>{{#i18n}}Liabilities{{/i18n}}: <span>{{liabilitiesSum}}</span></h2>
<hr size="2" noshade />
<div class="well">
	<ul class="nav nav-list">
	{{#liabilities}}
		{{>index_account}}
	{{/liabilities}}
	</ul>
</div>
</div>
