<div id="home">
	<h2>Assets: <span>{{#funCalcSumm}}ASSETS{{/funCalcSumm}} p.</span></h2>
	<hr size="2" noshade />
	{{#funAssets}}ASSETS{{/funAssets}}

	<br /><br />
	<h2>Liabilities: <span>{{#funCalcSumm}}LIABILITIES{{/funCalcSumm}} p.</span></h2>
	<hr size="2" noshade />
	{{#funAssets}}LIABILITIES{{/funAssets}}
</div>
