{{#value}}
<li><a href='{{prefix}}/account?id={{id}}'>{{name}} <span class="nav-item-hint" >{{#fquantity}}( {{fquantity}} ) {{/fquantity}}{{fvalue}}</span></a></li>
<ul class="nav nav-list">
{{#childs}}
{{>index_account}}
{{/childs}}
</ul>
{{/value}}
