<div id="home">
	<h2>Assets: <span>{{assetsSum}}</span></h2>
	<hr size="2" noshade />
	<div class="main">
	{{#assets}}
		{{>index_account}}
	{{/assets}}
	</div>
	<br /><br />
	<h2>Liabilities: <span>{{liabilitiesSum}}</span></h2>
	<hr size="2" noshade />
	<div class="main">
	{{#liabilities}}
		{{>index_account}}
	{{/liabilities}}
	</div>
</div>
