<!DOCTYPE HTML>
<html lang="en-us">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>{{title}}</title>
		<style type="text/css" title="currentStyle">
			@import "{{prefix}}/stylesheets/demo_page.css";
			@import "{{prefix}}/stylesheets/demo_table.css";
			@import "{{prefix}}/stylesheets/style.css";
			@import "{{prefix}}/stylesheets/jquery-ui.css";
		</style>
	{{>scripts}}
</head>
<body>
	<div id="header">
		<a href='/' id="logo"></a>
		<div class="menu">{{>nav}}</div>
	</div>
	<div id="tabs">
		{{#tabs}}
			{{#selected}}<b>{{/selected}}<a class="sl_border sl_border_radius" href='{{url}}'><div class="sl_text">{{name}}</div></a>{{#selected}}</b>{{/selected}}
		{{/tabs}}
	</div>
	<div id="workspace" class="sl_border">
		{{{yield}}}
	</div>
</body>
</html>
