<!DOCTYPE HTML>
<html lang="en-us">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>{{title}}</title>
	<style type="text/css" title="currentStyle">
		@import "{{prefix}}/stylesheets/demo_page.css";
		@import "{{prefix}}/stylesheets/demo_table.css";
		@import "{{prefix}}/stylesheets/style.css";
		@import "{{prefix}}/stylesheets/jquery-ui/jquery-ui-1.8.17.custom.css";
	</style>
	{{>scripts}}
</head>
<body>
	<div id="header">
		<a href='/' id="logo"></a>
		<div class="menu">{{>nav}}</div>
	</div>
	<div id="tabs">
		{{#tabs}}
			<div class="sl_border sl_border_radius">
			{{#selected}}<b>{{/selected}}( <a href='{{prefix}}?close={{pid}}'>X</a> ) <a href='{{url}}'><span class="sl_text">{{name}}</span></a>{{#selected}}</b>{{/selected}}
			</div>
		{{/tabs}}
	</div>
	<div id="workspace" class="sl_border">
		<content/>
	</div>
</body>
</html>
