<!DOCTYPE HTML>
<html lang="en-us">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>{{title}}</title>
	<style type="text/css" title="currentStyle">
		@import "{{prefix}}/stylesheets/demo_page.css";
		@import "{{prefix}}/stylesheets/demo_table.css";
		@import "{{prefix}}/stylesheets/style.css";
		@import "{{prefix}}/stylesheets/jquery-ui/jquery-ui-1.8.17.custom.css";
	</style>
	
	{{>scripts}}
	
	<script>
		$(document).ready(function() {
			$("#ski_editSettings").iframeContainer({src:"{{prefix}}/settings",host:"{{host}}"});		
			
			$("#editSettings").on("click", function(e){
				$("#ski_editSettings").iframeContainer("open");		
				return false;
			});
			
			$(".closeTab").on("click", function(e){
				var self = $(this);
				var jqXHR = $.ajax({
					"url": "{{prefix}}/tabs/close?pid=" + self.attr('pid'),
					"dataType": "json"
				});
				jqXHR.done(function(data){
					if (self.parent().find("span").hasClass("active")){
						location.href="{{prefix}}";
					} else {
						self.parent().remove();
					}
				});
				jqXHR.fail(function(data){
				});
				e.preventDefault();
			});
		});
	</script>
</head>
<body>
	{{^mainLayoutHide}}
		<div id="header">
			<a href='/' id="logo"></a>
			<div class="menu">{{>nav}}</div>
		</div>
		<div id="ski_editSettings"></div>		
		<div id="tabs">
			{{#tabs}}
				<div class="sl_border sl_border_radius">
				<a href='{{url}}' pid="{{pid}}" class="closeTab"></a>				
				<span {{#selected}}class="{{activeTabClass}}"{{/selected}}><a href='{{url}}'><span class="sl_text">{{name}}</span></a></span>
				</div>
			{{/tabs}}
		</div>
		<div id="workspace" class="sl_border">
			<content/>
		</div>
	{{/mainLayoutHide}}
	{{#mainLayoutHide}}
		<content/>
	{{/mainLayoutHide}}
</body>
</html>
