<a href='/'>{{#i18n}}Skilap{{/i18n}}</a> <a href='/cash/import'>{{#i18n}}Import{{/i18n}}</a> <a href='/cash/report/'>{{#i18n}}Report{{/i18n}}</a> <a href='/cash/acctree'>{{#i18n}}Tree{{/i18n}}</a> <a href='/cash/restoredefaults'>{{#i18n}}toDefaults{{/i18n}}</a>
