<a href='/'>{{#i18n}}Skilap{{/i18n}}</a> <a href='/cash/import/gnucash'>{{#i18n}}Import GnuCash{{/i18n}}</a>  <a href='/cash/import/raw'>{{#i18n}}Import RAW{{/i18n}}</a>  <a href='/cash/export/raw'>{{#i18n}}Export RAW{{/i18n}}</a>   <a href='/cash/report?name=pie_chart'>{{#i18n}}Pie chart{{/i18n}}</a> <a href='/cash/report?name=expense'>{{#i18n}}Bar chart{{/i18n}}</a> <a href='/cash/acctree'>{{#i18n}}Tree{{/i18n}}</a> <a href='/cash/restoredefaults'>{{#i18n}}toDefaults{{/i18n}}</a>
