<div class="menuItem">
	<a href='javascript:void(0);'>{{#i18n}}Data{{/i18n}}</a>
	<div class="submenu">
		<div class="submenuItem">
			<a href="/cash/new/register">{{#i18n}}New register{{/i18n}}</a>
		</div>
		<div class="submenuItem">
			<a href="/cash/import/gnucash">{{#i18n}}Import Gnu Cash{{/i18n}}</a>
		</div>
		<div class="submenuItem">
			<a href="/cash/import/raw">{{#i18n}}Import Skilap Cash{{/i18n}}</a>
		</div>
		<div class="submenuItem">
			<a href="/cash/export/raw">{{#i18n}}Export Skilap Cash{{/i18n}}</a>
		</div>
	</div>
</div>
<div class="menuItem">
	<a href='javascript:void(0);'>{{#i18n}}View{{/i18n}}</a>
	<div class="submenu">
		<div class="submenuItem">
			<a href="/cash/">{{#i18n}}Home{{/i18n}}</a>
		</div>
		<div class="submenuItem">
			<a href="/cash/acctree">{{#i18n}}Accounts{{/i18n}}</a>
		</div>		
	</div>
</div>
<div class="menuItem">
	<a href='javascript:void(0);'>{{#i18n}}Report{{/i18n}}</a>
	<div class="submenu">
		<div class="submenuItem">
			<a href="/cash/reports/barflow">{{#i18n}}Spend/receive bar chart{{/i18n}}</a>
		</div>
		<div class="submenuItem">
			<a href="/cash/reports/pieflow">{{#i18n}}Spend/receive pie chart{{/i18n}}</a>
		</div>		
	</div>
</div>
