<script type="text/javascript" src="/common/js/highcharts/highcharts.js"></script>
<script type="text/javascript" defer>
	var chart;
	$(function() {
		$(window).on('resize',function(){
			adaptHeight();
		});

		function adaptHeight() {
			$("#container").height($(window).height()-$(".navbar.navbar-fixed-top").height()-20);
		}
		adaptHeight();

		{{>report_graph}}
	});

</script>
{{>reportsettings}}
<a class="report-settings" href="javascript:void(0);" title="{{#i18n}}Report settings{{/i18n}}"></a>
<div id="container" style="width: 100%; height: 700px;"></div>


