<script type="text/javascript" src="{{prefix}}/javascripts/highcharts/highcharts.js"></script>
<script type="text/javascript">
	var chart;	
	$(function() {
		$(window).on('resize',function(){	
			adaptHeight();
		});	
		
		function adaptHeight() {
			$("#container").height($(window).height()-$("#header").height()-10);
		}		
		adaptHeight();
			
		{{>report_graph}}		
	});
	
</script>
<div class="report">
	{{>reportsettings}}
	<a class="settings" href="#" title="{{#i18n}}Report settings{{/i18n}}"></a>
	<div id="container" style="width: 100%; height: 700px;"></div>
</div>

