<script>
	$(function() {
		$(".confirm").click(function () {
			$("#props").submit();
			return false;
		})
	});
</script>

<div class="wizard">
	<div class="header">{{#i18n}}Create new cash register{{/i18n}}</div>
	<div class="notice">{{#i18n}}Attention! Your existing data will be overwritten upon complete.{{/i18n}}</div>
	<form id="props" class="form" method="get" action="#">
		<input type="hidden" name="confirm" value="true">
		<table>
			<tr>
				<td>{{#i18n}}Default currency{{/i18n}}:</td>
				<td>
					<select name="currency" id="acc_curency">
						{{#curencies}}
							<option value="{{iso}}">{{iso}} - {{country}}</option>
						{{/curencies}}
					</select>
				</td>
			</tr>
			<tr>
			<td>{{#i18n}}Template{{/i18n}}:</td>
				<td>
					<select name="type" id="acc_curency">
						<option value="default" selected>{{#i18n}}Default accounts{{/i18n}}</option>
						<option value="empty">{{#i18n}}Empty{{/i18n}}</option>
					</select>
				</td>
			</tr>			
		</table>
	</form>
	<div class="buttons">
		<a class="button confirm" href="{{prefix}}/restoredefaults?confirm=true">{{#i18n}}Confirm{{/i18n}}</a>	
		<a class="button" href="{{prefix}}/restoredefaults?confirm=false">{{#i18n}}Cancel{{/i18n}}</a>
	</div>
</div>
