<script type="text/javascript" src="{{prefix}}/javascripts/date.js"></script>
<script type="text/javascript" src="{{prefix}}/javascripts/jquery.js"></script>
<script type="text/javascript" src="{{prefix}}/javascripts/jquery.dataTables.js"></script>
<script type="text/javascript" src="{{prefix}}/javascripts/Scroller.min.js"></script>
<script type="text/javascript" src="{{prefix}}/javascripts/jquery.jeditable.min.js"></script>
<script type="text/javascript" src="{{prefix}}/javascripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{prefix}}/javascripts/jquery.dataTables.editable.js"></script>
<script type="text/javascript" src="{{prefix}}/javascripts/jquery.jeditable.ui-datepicker.js"></script>

