<script type="text/javascript" src="{{prefix}}/javascripts/date.js"></script>
<script type="text/javascript" src="{{prefix}}/javascripts/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="{{prefix}}/javascripts/jquery-ui-1.8.17.custom.min.js"></script>
<script type="text/javascript" src="{{prefix}}/javascripts/jquery.skiGrid.js"></script>
<script type="text/javascript" src="{{prefix}}/javascripts/jsonrpcjs-0.1.7.min.js"></script>

