<h1>Access denied!</h1>
You do not have permission.
<h2>Please login</h2>
<form id='login' method='post' action='/login'>
<input type='hidden' name='success' value='{{success}}'/>
login:<input type='text' name='name'/><br>
password:<input type='password' name='password'/><br>
<input type='submit' value='login'>
</form>
