<div class="user">
	<h2>Your prefferences</h2><a href="#">edit</a>
	<hr size="2" noshade />
	<table>
		<tr>
			<td>Name</td><td>{{#user}}{{screenName}}{{/user}}</td>
		</tr>
		<tr>
			<td>Login</td><td>{{#user}}{{login}}{{/user}}</td>
		</tr>
		<tr>
			<td>Gui language</td><td>{{#user}}{{}}{{/user}}</td>
		</tr>
		<tr>
			<td>Timezone</td><td>{{#user}}{{}}{{/user}}</td>
		</tr>
	</table>
</div>
<div class="user">
	<h2>Your permissions</h2><a href="#">edit</a>
	<hr size="2" noshade />
</div>
