<center><h2>{{#i18n}}Welcome to SkiLap!{{/i18n}}<br></h2></center>
Following modules are available:
<ul>
{{#modules}}
	<li><a href='{{url}}'><b>{{name}}</b></a><br>{{description}}
{{/modules}}
</ul>
<i>Please note, you might need to log-in to get access to some modules.</i>
