<!DOCTYPE HTML>
<html lang="en-us">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>{{title}}</title>
	<style type="text/css" title="currentStyle">
		@import "{{prefix}}/stylesheets/style.css";
	</style>
	{{>scripts}}
</head>
<body>
	<div id="content">
		<div id="header">
			<a href='/' id="logo"></a>
			<div class="tittle">
				<h2>{{tittle}}</h2>
			</div>
		</div>
		<div id="workspace"/>
			<content/>
		</div>
	</div>
	<div id="footer">
		<h2>Copyright by PushOk Software 2011-2012</h2>
	</div>
</body>
</html>
