<!DOCTYPE HTML>
<html lang="en-us">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{title}}</title>	
	 <!-- Le styles -->	
    <link href="/common/css/bootstrap.css" rel="stylesheet">    
    <link href="/common/css/main.css" rel="stylesheet">
    <link href="{{prefix}}/css/style.css" rel="stylesheet">
    <link href="/common/css/jquery-ui/jquery-ui-1.8.17.custom.css" rel="stylesheet">    
	<link href="/common/css/bootstrap-responsive.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	
	<script type="text/javascript" src="/common/js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="/common/js/jquery-ui-1.8.17.custom.min.js"></script>
	<script type="text/javascript" src="/common/js/jquery.ski.iframeContainer.js"></script>
	<script type="text/javascript" src="/common/js/jsonrpcjs-0.1.7.min.js"></script>
	<script type="text/javascript" src="/common/js/bootstrap-button.js"></script>
	<script type="text/javascript" src="/common/js/bootstrap-dropdown.js"></script>
	<script type="text/javascript" src="/common/js/bootstrap-collapse.js"></script>


</head>
<body>
	{{^mainLayoutHide}}
	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a href='/' id="logoNew"></a>
          <div class="nav-collapse">
          {{#user.loggedin}}
            <ul class="nav nav-pills">
              <li {{#pageUserActive}}class="active"{{/pageUserActive}}>
				{{#user.perm.core_me_view}}<a href="{{prefix}}/user">{{#i18n}}My account{{/i18n}}</a>{{/user.perm.core_me_view}}
			  </li>
              <li {{#pageUsersActive}}class="active"{{/pageUsersActive}}>
				{{#user.perm.core_user_view}}<a href="{{prefix}}/users">{{#i18n}}Manage users{{/i18n}}</a>{{/user.perm.core_user_view}}
			  </li>
              <li {{#pageSystemSettingsActive}}class="active"{{/pageSystemSettingsActive}}>
				{{#user.perm.core_sysadmin}}<a href="{{prefix}}/sysset">{{#i18n}}System settings{{/i18n}}</a>{{/user.perm.core_sysadmin}}
			  </li>
			  <li>
				<a href="/logout?success={{url}}">{{#i18n}}Logout{{/i18n}}</a>
			  </li>
            </ul>
           {{/user.loggedin}}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container">
		<div class="row">
			<div class="span12">							
			  {{#user.loggedin}}
			  <h2>{{#i18n}}Hi{{/i18n}} {{user.screenName}}!</h2>
			  <p></p>
			  {{/user.loggedin}}
			  {{^user.loggedin}}
			   <h2>{{#i18n}}Hi Stranger, this is protected area.{{/i18n}}</h2>
			   <p>{{#i18n}}Please contact site owner for account if you need it.{{/i18n}}</p>
			   <p><a href="/login?success={{url}}">{{#i18n}}Login{{/i18n}}</a> {{#i18n}}if you have it already{{/i18n}}.</p>
			  {{/user.loggedin}}
			</div>        
		</div>	
		<hr>
		<content/>	
		<hr>
		<footer>
			<p>&copy; {{#i18n}}Copyright by PushOk Software{{/i18n}} 2011-2012</p>
		</footer>
    </div> 
    {{/mainLayoutHide}}  
    {{#mainLayoutHide}}
		<div class="container">
			<div class="row">
				<content/>
			</div>
		</div>
	{{/mainLayoutHide}}
</body>
</html>
