<br/><br/>
<h2>{{#i18n}}Please login{{/i18n}}</h2>
<form id='login' method='post' action='/login'>
<input type='hidden' name='success' value='{{success}}'/>
<br/>
{{#i18n}}Login{{/i18n}}:<input type='text' name='name'/><br>
<br/>
{{#i18n}}Password{{/i18n}}:<input type='password' name='password'/><br>
<br/>
<input type='submit' value='{{#i18n}}Login{{/i18n}}'>
</form>
<br/><br/>
