<script type="text/javascript">
$(document).ready(function() {
	$("#openEditPref").click(function(){
		if ($("#changePass").is(":checked"))
			$(".pass").show();
		else
			$(".pass").hide();
		{{#user}}
		var user = {
			id: {{id}},
			firstName: "{{firstName}}",
			lastName: "{{lastName}}",
			login: "{{login}}",
			timeZone: {{timeZone}},
			language: "{{language}}"
		};
		{{/user}}
		$("#ski_editUser").iframeContainer("triggerEvent",{name:'setAccountEditDialogData', data:user});
		$("#ski_editUser").iframeContainer("open");
	});
	$("#ski_editUser").iframeContainer({src:"{{prefix}}/userprefferences", host:"{{host}}"});
	$("body").on('accountEditSuccess',function(e,id){
		location.reload(true);
	});	
});
</script>

<div class="user">
	<h2>Your prefferences</h2><a href="#" id="openEditPref">edit</a>
	<hr size="2" noshade />
	{{#user}}
	<table>
		{{^loginForm}}
		<tr>
			<td>First name</td><td>{{firstName}}</td>
		</tr>
		<tr>
			<td>Last name</td><td>{{lastName}}</td>
		</tr>
		<tr>
			<td>Login</td><td>{{login}}</td>
		</tr>
		{{/loginForm}}
		<tr>
			<td>Gui language</td><td>{{language}}</td>
		</tr>
		<tr>
			<td>Timezone</td><td>{{timeZone}}</td>
		</tr>
	</table>
	{{/user}}
</div>
<div class="user">
	<h2>Your permissions</h2><a href="#">edit</a>
	<hr size="2" noshade />
</div>
<div id="ski_editUser"></div>
