<script type="text/javascript">
$(document).ready(function() {
	$("#openEditPref").click(function(){
		if ($("#changePass").is(":checked"))
			$(".pass").show();
		else
			$(".pass").hide();
		$("#ski_editUser").iframeContainer({src:"{{prefix}}/userprefferences", host:"{{host}}"});
		{{#user}}
		$("#ski_editUser").iframeContainer("triggerEvent",{name:'setEditUserDialogData',data:{id:"{{id}}", firstName:"{{firstName}}", lastName:"{{lastName}}", login:"{{login}}"}});
		{{/user}}
		$("#ski_editUser").iframeContainer("open");
	});
	$("body").on('accountEditSuccess',function(e,id){
		location.reload(true);
	});

	$("#editPerm").click(function(){
		$("#ski_editPermissions").iframeContainer({src:"{{prefix}}/userpermisions", host:"{{host}}"});
		var permissions = {{{userPermissions}}};
		$("#ski_editPermissions").iframeContainer("triggerEvent",{name:'setEditPermDialogData',data:permissions});
		$("#ski_editPermissions").iframeContainer("open");
	})

	$("body").on('permisionsEditSuccess',function(e,id){
		location.reload(true);
	});
});
</script>

<div class="user">
	<h2>{{#i18n}}Your prefferences{{/i18n}}</h2>{{#user.perm.core_me_edit}}<a href="#" id="openEditPref">{{#i18n}}edit{{/i18n}}</a>{{/user.perm.core_me_edit}}
	<hr size="2" noshade />
	{{#user}}
	<table>
		{{#user.loggedin}}		
		<tr>
			<td>{{#i18n}}First name{{/i18n}}</td><td>{{firstName}}</td>
		</tr>
		<tr>
			<td>{{#i18n}}Last name{{/i18n}}</td><td>{{lastName}}</td>
		</tr>
		<tr>
			<td>{{#i18n}}Login{{/i18n}}</td><td>{{login}}</td>
		</tr>
		{{/user.loggedin}}
		<tr>
			<td>{{#i18n}}Gui language{{/i18n}}</td><td>{{language}}</td>
		</tr>
		<tr>
			<td>{{#i18n}}Timezone{{/i18n}}</td><td>{{timeZone}}</td>
		</tr>
	</table>
	{{/user}}
</div>
<div class="user">
	<h2>{{#i18n}}Your permissions{{/i18n}}</h2>{{#user.perm.core_user_edit}}<a href="#" id="editPerm">{{#i18n}}edit{{/i18n}}</a>{{/user.perm.core_user_edit}}
	<hr size="2" noshade />
	{{#permissions}}
		<h4>{{module}}:</h4>
		{{#perm}}
			&nbsp;&nbsp;&nbsp;{{.}}<br />
		{{/perm}}
	{{/permissions}}
</div>
<div id="ski_editUser"></div>
<div id="ski_editPermissions"></div>
