<script>
$(function() {
	$("#dialog").dialog({
		position: ["left","top"],
		buttons: {
			"{{#i18n}}Apply{{/i18n}}": function() {
				var params = {
						id: $('#task_id').val(),
						status: $('#task_status').find('option:selected').val(),
						name: $('#task_name').val(),
						repeat: $('#task_repeat').find('option:selected').val(),
						dt: $('#task_dt').val(),
						description:  $('#task_description').val()
					};
				var jqXHR = $.ajax({
					"type": "POST",
					"data": params,
					"dataType": "json",
					"url": "{{prefix}}/update"
				});
				jqXHR.done(function(data){
					window.parent.$("body").trigger('taskUpdatedSuccess',[data]);
				});
				jqXHR.fail(function(data){
					window.parent.$("body").trigger('taskUpdatedFailed');
				});
				//$(this).dialog("close");
				window.parent.$("body .iframeContainer").trigger('closeDialog');
			},
			"{{#i18n}}Close{{/i18n}}": function() {
				//$(this).dialog("close");
				window.parent.$("body .iframeContainer").trigger('closeDialog');
			}
		},
		open:function(e,ui){
			var w = $(this).parent().width();
			var h = $(this).parent().height();
			var p = $(this).parent().position();
			$(this).parent().css({"top":0,"left":0,"padding":0,"border":0});
			window.parent.$("body .iframeContainer-ski_createTask").trigger('openDialog',[w,h,p]);
		},
		close:function(e,ui){
			window.parent.$("body .iframeContainer").trigger('closeDialog');
		},
		autoOpen: true,
		resizable: false,
		height: 320,
		width: 400,
		modal: true,
		dragable: true
	});

	function displayMessage(event){
		if (event.origin === "https://{{host}}") {
			if(event.data.name == 'setTaskDialogData'){
				var task = event.data.data[0];
				if(task._id){
					$('#task_id').val(task._id);
				}
				if(task.dt){
					$('#task_dt').val(task.dt);
				}
				if(task.status){
					$('#task_status').find('option[value=\''+ task.status + '\']').attr('selected', true);
				}
				if(task.name){
					$('#task_name').val(task.name);
				}
				if(task.repeat){
					$('#task_repeat').find('option[value=\''+ task.repeat + '\']').attr('selected', true);
				}
				if(task.description){
					$('#task_description').val(task.description);
				}
			}
			else if(event.data.name == 'resetTaskDialogData'){
				$("#dialog form[name='properties']").get(0).reset();
			}
			else if(event.data.name == 'showDialog') {
				$("#dialog").dialog('open');
			}
		}
	}

	if (window.addEventListener) {
		window.addEventListener("message", displayMessage, false);
	}
	else {
		window.attachEvent("onmessage", displayMessage);
	}

});
</script>
<div id="dialog" title="{{#i18n}}Task properties{{/i18n}}" style="width: 500px; height: 400px;">
	<form name="properties">
		<input type="hidden" id="task_id">
		<input type="hidden" id="token" value="{{token}}">
		<input type="hidden" id="task_dt">
		<table>
			<tr>
				<td>{{#i18n}}Name{{/i18n}}:</td>
				<td><input type="text" id="task_name"></td>
			</tr>
			<tr>
				<td>{{#i18n}}Status{{/i18n}}:</td>
				<td><select id="task_status">
					<option value="new">{{#i18n}}new{{/i18n}}</option>
					<option value="resolved">{{#i18n}}resolved{{/i18n}}</option>
				</select></td>
			</tr>
			<!--
			<tr>
				<td>{{#i18n}}Due{{/i18n}}:</td>
				<td>{{task.due.name}}</td>
			</tr>
			-->
			<tr>
				<td>{{#i18n}}Description{{/i18n}}:</td>
				<td>
					<textarea name="task_description" id="task_description"></textarea>
				</td>
			</tr>
			<tr>
				<td>{{#i18n}}Repeat{{/i18n}}:</td>
				<td><select id="task_repeat">
					<option value="">{{#i18n}}no repeat{{/i18n}}</option>
					<option value="daily">{{#i18n}}daily{{/i18n}}</option>
					<option value="weekly">{{#i18n}}weekly{{/i18n}}</option>
					<option value="monthly">{{#i18n}}monthly{{/i18n}}</option>
				</select></td>
			</tr>
		</table>
	</form>
</div>
