*{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

img { 
	border:none; 
}

body {
  font: 14px Arial, Helvetica, "Lucida Grande", sans-serif;
  min-width: 1024px;
  background-color: #f6f6f6;
}

a {
  color: #3439EA;
  cursor: pointer;
}

table { border-collapse:collapse; }
td { white-space: nowrap; border: 1px solid black}
tr { height: 24px;}
.value { text-align: right; width:70px }
.description { text-align: left; width:300px }
.account { text-align: left; width:200px }
.number { text-align: left; width:50px }

#home {
	padding: 10px 20px 0 20px;
	width: 40%;
}

#home h2 span{
	float: right;
}

#home .main div{
	line-height: 22px;
}

#home .main div div {
	padding: 0 20px;
}

#home .main span:first-child {
	margin-right: 0;
}

#home .main div span{
	float: right;
	margin-right: 20px;
}

#import {
	padding: 10px 20px 0 20px;
	width: 40%;
}

#import hr{
	margin: 10px 0 10px 0;
}

#header{
	margin-left: 15px;
	height: 40px;
	position: relative;
}

#header #logo{
	background: url("../images/logo.png") no-repeat scroll center center #fff;
    border: 2px solid #0A8ABF;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    height: 66px;
    left: 84px;
    position: absolute;
    top: 10px;
    width: 65px;
}

#header .menu{
	margin-left: 200px;
	height: 100%;
}

#header .menu a{
	line-height: 30px;
	color: #193479;
	font-size: 122%;
	text-decoration: underline;
}

#tabs{
	float: left;
    margin-left: 50px;
    margin-top: 50px;
    width: 165px;
}

#tabs a div{
	text-transform: capitalize;
	margin: 5px 5px 5px 10px;
}

.sl_border{
	border: 2px solid #193479;
}

#tabs .sl_border_radius{
	border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
}

#tabs .sl_text{font-size: 105%;}

#tabs a{
	display: block;
	margin: 5px 0;
	background-color: #E6F9C0;
	border-right: none !important;
}

#tabs a:hover{
	
}

#workspace{
	margin-left: 215px;
	margin-right: 20px;
	min-height: 400px;
	background-color: #fff;
}

#workspace .dataTables_wrapper, #workspace .dataTables_scroll{
	clear: none;
}
