*{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

img { 
	border:none; 
}

body {
  font: 14px Arial, Helvetica, "Lucida Grande", sans-serif;
  min-width: 1024px;
  background-color: #f6f6f6;
}

a {
  color: #3439EA;
  cursor: pointer;
}

td { 
	white-space: nowrap;
}
.value{
	text-align: right; 
	width:10%;
}
.description{
	text-align: left; 
	width:20%; 
}
.account{
	text-align: left; 
	width:25%; 
}
.number{ 
	text-align: left; 
	width:8%;
}
.transfer{
	text-align: left; 
	width:2%;
	cursor:pointer;
}

.ski_gridWrapper{
	background-color:#efefef;
	position:relative;
}

.ski_gridHeaderWrapper table,.ski_gridBodyWrapper table{
	table-layout:fixed;
}

.ski_gridHeaderWrapper table{
	background-color:#96b183;
}

.ski_gridHeaderWrapper table th{
	text-align:left;
}

.ski_gridHeaderWrapper{
	position:relative;
	margin-right:17px;	
}

.ski_gridBodyWrapper{
	position:relative;
	height:400px;
	overflow-y:scroll;
}
.ski_gridWrapper .tdContent{
	position:relative;
	height:100%;	
	padding:0 5px;
	text-overflow:ellipsis;
	overflow:hidden;
}
.ski_gridWrapper .tdContent .ski_editable{
	display:block;
	position:absolute;
	top:0;
	left:0;	
}
.ski_gridWrapper .tdContent .ski_datepicker_btn{
	display:block;
	position:absolute;
	top:7px;
	right:5px;
	z-index:1;
}

.ski_gridWrapper .tdContent .ski_select_btn{
	display:block;
	position:absolute;
	top:0px;
	right:0px;
	width:20px;
	height:25px;
	background:url('../images/down-arrow.png') no-repeat 50% 50% #fff;
	border-left:1px solid #333;
	cursor:pointer;
	z-index:1;
}

.ski_gridWrapper .tdContent .ski_select_btn:hover{
background-color:#eee;
}

.ski_gridWrapper .ski_select_popup{
	position:relative;
	
}

.ski_gridWrapper .ski_select_popup .ui-autocomplete{
	max-height:250px;
	max-width:270px;
	overflow-y:scroll;
	z-index:3 !important;
}

.ski_gridWrapper .ski_select_popup .ui-autocomplete li a{
	font-size:14px;
	padding:0;
	line-height:120%;
}

.ski_gridBodyWrapper tr{
	color:#333;
}
.ski_gridBodyWrapper tr.mainRow.odd{
	background-color:#BFDEB9;
}
.ski_gridBodyWrapper tr.mainRow.even{
	background-color:#F6FFDA;
}
.ski_gridWrapper tr.mainRow.ski_selected{
	background-color:#FFEF98;
}
.ski_gridWrapper tr.splitRow{	
	background-color:#EDE7D3;
}
.ski_gridBodyScroller{
	position:absolute;
	top:0;
	left:0;
	width:1px;
}

.ski_gridToolbox{
	height:35px;	
	margin-bottom:2px;	
	background: #f5f5f4;
    background: -moz-linear-gradient(top, #f5f5f4, #e7e5e4);
    background: -webkit-gradient(linear, left top, left bottom, 
                color-stop(0%,#f5f5f4), color-stop(100%,#e7e5e4));
    background: -webkit-linear-gradient(top, #f5f5f4, #e7e5e4);
    background: -o-linear-gradient(top, #f5f5f4, #e7e5e4);
    background: -ms-linear-gradient(top, #f5f5f4, #e7e5e4);
    background: linear-gradient(top, #f5f5f4, #e7e5e4);
    border-bottom:1px solid #c4c4c4;
}

.ski_button{   
    border: 1px solid transparent;
    border-radius: 4px 4px 4px 4px;
    color: #333;
    cursor: pointer;
    display: block;
    padding: 0px 10px;
    height:25px;
    line-height:25px;
    text-align: center;   
}

.ski_button:hover{   
    border: 1px solid #888582;
    border-radius: 4px 4px 4px 4px;
    color: #333;
    cursor: pointer;
    display: block;
    padding: 0px 10px;
    height:25px;
    line-height:25px;
    text-align: center;   
    background: #fff;
    background: -moz-linear-gradient(top, #fff, #ededed);
    background: -webkit-gradient(linear, left top, left bottom, 
                color-stop(0%,#fff), color-stop(100%,#ededed));
    background: -webkit-linear-gradient(top, #fff, #ededed);
    background: -o-linear-gradient(top, #fff, #ededed);
    background: -ms-linear-gradient(top, #fff, #ededed);
    background: linear-gradient(top, #fff, #ededed);
    
}

.ski_button.ski_selected{   
    border: 1px solid #888582;
    border-radius: 4px 4px 4px 4px;
    color: #333;
    cursor: pointer;
    display: block;
    padding: 0px 10px;
    height:25px;
    line-height:25px;
    text-align: center;   
    background: #d1cfcc;
    background: -moz-linear-gradient(top, #d1cfcc, #c0bdba);
    background: -webkit-gradient(linear, left top, left bottom, 
                color-stop(0%,#d1cfcc), color-stop(100%,#c0bdba));
    background: -webkit-linear-gradient(top, #d1cfcc, #c0bdba);
    background: -o-linear-gradient(top, #d1cfcc, #c0bdba);
    background: -ms-linear-gradient(top, #d1cfcc, #c0bdba);
    background: linear-gradient(top, #d1cfcc, #c0bdba);
    
}

.ski_splitButton{
	float:left;	
	margin:5px  0 0 10px;
}

.ski_vline,.ski_hline{
	position:absolute;
	top:0;
	left:0;
	width:1px;
	height:1px;
	background-color:#333;
	z-index:3;
}

.ski_validate-error{
	background-color:red;
}


#ski_dialog-confirm,#ski_dialog-confirm-create-account{
	display:none;
}
.ski_gridFooterWrapper{
	position:relative;
	height:35px;	
	margin-bottom:2px;	
	background: #f5f5f4;
    background: -moz-linear-gradient(top, #f5f5f4, #e7e5e4);
    background: -webkit-gradient(linear, left top, left bottom, 
                color-stop(0%,#f5f5f4), color-stop(100%,#e7e5e4));
    background: -webkit-linear-gradient(top, #f5f5f4, #e7e5e4);
    background: -o-linear-gradient(top, #f5f5f4, #e7e5e4);
    background: -ms-linear-gradient(top, #f5f5f4, #e7e5e4);
    background: linear-gradient(top, #f5f5f4, #e7e5e4);
    border-bottom:1px solid #c4c4c4;
}

.ski_newTrContainer{
	position:relative;
	border-right:1px solid #333;
	margin-right:16px;
	/*position:absolute;
	top:-25px;
	left:0;
	height:25px;
	width:100px;
	background-color:#ccc;	
	z-index:2;*/
}

.ski_addButton,.ski_saveButton,.ski_cancelButton{
	float:left;
	margin:5px  0 0 10px;
}
.ski_addButton,.ski_addButton:hover,.ski_addButton.ski_selected{
background: url("../images/add-icon.png") no-repeat 0 2px;
padding-left:25px;
}
.ski_saveButton,.ski_saveButton:hover{
background: url("../images/save-icon.png") no-repeat 0 2px;
padding-left:25px;
}

.ski_cancelButton,.ski_cancelButton:hover{
background: url("../images/cancel-icon.png") no-repeat 0 2px;
padding-left:25px;
}

.ski_newRow{
height:30px;
}

#ski_addForm label, #ski_addForm input { display:block; }
#ski_addForm input.text,#ski_addForm select.text { margin-bottom:12px; width:95%; height:25px;}
#ski_addForm fieldset { 
	position:relative;
	padding:0; 
	border:0; 
	margin-top:5px; 
}

#ski_addForm .ui-datepicker-trigger{
	display:block;
	position:absolute;
	top:25px;
	right:20px;
	z-index:1;
}

.invisible{
	display:none;
}

/** start css for treeview */
div.tree div {
	padding-left:16px;
}
div.tree div.parent div {
	display:none;
	cursor:default;
}
div.tree div.parent {
	cursor:pointer !important;
	background:transparent url(../images/plus.png) no-repeat top left;
}
div.tree div.expanded {
	background:transparent url(../images/minus.png) no-repeat top left;
}
/** end css for treeview */

#home {
	padding: 10px 20px 0 20px;
	width: 40%;
}

#home h2 span{
	float: right;
}

#home .main div{
	line-height: 22px;
}

#home .main div div {
	padding: 0 20px;
}

#home .main span:first-child {
	margin-right: 0;
}

#home .main div span{
	float: right;
	margin-right: 20px;
}

#import {
	padding: 10px 20px 0 20px;
	width: 40%;
}

#import hr{
	margin: 10px 0 10px 0;
}

#dialog table {
	width: 100%;
}

#dialog table td {
	border: 0;
	padding: 3px;
}

#header{
	margin-left: 15px;
	height: 40px;
	position: relative;
}

#header #logo{
	background: url("../images/logo.png") no-repeat scroll center center #fff;
    border: 2px solid #0A8ABF;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    height: 66px;
    left: 84px;
    position: absolute;
    top: 10px;
    width: 65px;
}

#header .menu{
	margin-left: 200px;
	height: 100%;
}

#header .menu a{
	line-height: 30px;
	color: #193479;
	font-size: 122%;
	text-decoration: underline;
}

#tabs{
	float: left;
    margin-left: 50px;
    margin-top: 50px;
    width: 165px;
}

.sl_border{
	border: 2px solid #193479;
}

#tabs .sl_border_radius{
	border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
}

#tabs .sl_text{font-size: 105%;}

#tabs .active {font-weight: bold;}

#tabs div{
	display: block;
	margin: 5px 0;
	background-color: #E6F9C0;
	border-right: none !important;
}

#tabs a:hover{
	
}

#workspace{
	position:relative;
	margin-left: 215px;
	margin-right: 20px;
	min-height: 400px;
	background-color: #fff;
}

#workspace .dataTables_wrapper, #workspace .dataTables_scroll{
	clear: none;
}

.ui-datepicker{
z-index:3 !important;
}

.iframeContainer{
position:absolute;
top:0;
left:0;
}

.iframeContainer iframe{
border:1px solid transparent;
overflow:hidden;
}
