.sddm {	
	z-index: 30
}

.sddm li {	
	list-style: none;
	float: left;
}

.sddm li a {	
	display: block;
	padding: 5px;
	width: 40px;
	color: white;
}

.sddm .prefmenu {	
	display: none;
	position: absolute;
	background: gray;
}

.sddm .prefmenu.active {
	display: block;
}

.sddm div a	{ 
	text-decoration: none;
	background: gray;
	text-align: left
}

.sddm div a:hover {	
	background: blue;
}
