*{
	padding: 0;
	margin: 0;
	list-style-type: none;
	line-height: 20px;
	color: #3F4142;
}

img { 
	border:none; 
}

body {
  font: 14px Arial, Helvetica, "Lucida Grande", sans-serif;
  min-width: 1024px;
  background-color: #f6f6f6;
}

a {
  color: #00b7ff;
  cursor: pointer;
}

table { border-collapse:collapse }
td { white-space: nowrap; border: 1px solid black }
tr { height: 24px;}
.value { text-align: right; width:70px }
.description { text-align: left; width:300px }
.account { text-align: left; width:200px }
.number { text-align: left; width:50px }

#header{
	padding: 10px 50px;
}

#header a{
	font-size: 16px;
	text-transform: uppercase;
}

#workspace{
	padding: 20px 50px;
}

#workspace .user{
	float: left;
	width: 40%;
	padding: 0 5%;
}

#workspace table {
	width: 100%;
}

#workspace td {
	border: none;
}

.home.title{
	text-align: center;
	padding: 10px 0;
	font-size: 20px;
}

.home.subTitle{
	font-size: 16px;
	padding: 10px 0;
}

.modulesList{
	box-shadow: 0 0 5px 1px #ccc;
	-moz-box-shadow: 0 0 5px 1px #ccc;
	-webkit-box-shadow: 0 0 5px 1px #ccc;
	padding: 0 20px;
	background-color: #fcfcfc;
	margin-bottom: 20px;
}

.modulesList li{
	padding: 5px 0;
	border-bottom: 1px solid #ccc;
	list-style-type: disc;
}

.modulesList li:last-child{border-bottom: none;}

.modulName{
	font-size: 16px;
}

.hint{
	font-style: italic;
}
