*{
	padding: 0;
	margin: 0;
	list-style-type: none;
	line-height: 20px;
	color: #3F4142;
}

html, body {height: 100%;}

body {
  font: 14px Arial, Helvetica, "Lucida Grande", sans-serif;
  min-width: 1024px;
  background-color: #f6f6f6;
}

img { 
	border:none; 
}

a {
  color: #00b7ff;
  cursor: pointer;
}

table { border-collapse:collapse }
td { white-space: nowrap; border: 1px solid black }
tr { height: 24px;}
.value { text-align: right; width:70px }
.description { text-align: left; width:300px }
.account { text-align: left; width:200px }
.number { text-align: left; width:50px }

#header{
	padding: 10px 50px;
	border-bottom: solid;
	height: 76px;
}

#header .tittle{
	margin-left: 5%;
	height: 100%;
}

#header #logo{
	background: url("../images/logo.png") no-repeat scroll center center #fff;
    border: 2px solid #0A8ABF;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    position: absolute;
    left: 10px;
    top: 10px;
    height: 66px;
    width: 65px;
}

#workspace{
	padding: 20px 50px;
	padding-bottom: 100px;
}

#workspace .user{
	float: left;
	width: 40%;
	padding: 0 5%;
}

#workspace table {
	width: 100%;
}

#workspace .user td{
   border: none;
}

#content {
   position: relative;
   min-height: 100%;
}

#footer {
   position: relative;
   height: 80px;
   margin-top: -80px;
}

#footer .copyright {
	text-align: center;
	border-top: solid;
	line-height: 80px;
}

.dialog table {
	width: 100%
}

.dialog td {
	border: none;
}

.iframeContainer{
	position: absolute;
	top: 0px;
	left: 0px;
}

.iframeContainer iframe{
	border: none;
	overflow: hidden;
}

#users th {
	text-align: left;
	border: solid;
}

#users td {
	text-align: left;
	border: 1px solid ;
}

#users .left {
	width: 80px;
}

#users .right {
	text-align: center;
	width: 50px;
}

.home.title{
	text-align: center;
	padding: 10px 0;
	font-size: 20px;
}

.home.subTitle{
	font-size: 16px;
	padding: 10px 0;
}

.modulesList{
	box-shadow: 0 0 5px 1px #ccc;
	-moz-box-shadow: 0 0 5px 1px #ccc;
	-webkit-box-shadow: 0 0 5px 1px #ccc;
	padding: 0 20px;
	background-color: #fcfcfc;
	margin-bottom: 20px;
}

.modulesList li{
	padding: 5px 0;
	border-bottom: 1px solid #ccc;
	list-style-type: disc;
}

.modulesList { li:last-child{border-bottom: none;}

.modulName{
	font-size: 16px;
}

.hint{
	font-style: italic;
}
